# Git
alias gs="git status"
alias gl="git log"
alias gcom="git checkout master"
alias nah="git checkout -- . && git reset --hard HEAD && git clean -df"
# ZSH
alias zshconf="vim ~/.zshrc"
alias omz="cd ~/.oh-my-zsh"
# PHP & Laravel
alias test="php artisan test"
alias art="php artisan"
alias tinker="php artisan tinker"
alias docs="art l5-swagger:generate"
# Python
alias python="python3"
# OS Specific
alias install="sudo apt install"
alias copy="xclip -sel clip <"
alias reloadphp="( flock -w 10 9 || exit 1 echo 'Restarting FPM...'; sudo -S service php8.1-fpm reload ) 9>/tmp/fpmlock"
# Misc
alias fast="curl -s https://raw.githubusercontent.com/sivel/speedtest-cli/master/speedtest.py | python -"
alias speed="for i in $(seq 1 10); do /usr/bin/time $SHELL -i -c exit; done"
