# Git
alias gs="git status"
alias gl="git log"
alias gcom="git checkout master"
alias nah="git checkout -- . && git reset --hard HEAD && git clean -df"
# ZSH
alias zshconf="vim ~/.zshrc"
alias omz="cd ~/.oh-my-zsh"
# PHP & Laravel
alias test="vendor/bin/phpunit"
alias art="php artisan"
alias tinker="php artisan tinker"
# OS Specific
alias fast="curl -s https://raw.githubusercontent.com/sivel/speedtest-cli/master/speedtest.py | python -"
# Server specific
alias reloadphp="( flock -w 10 9 || exit 1
    echo 'Restarting FPM...'; sudo -S service php7.4-fpm reload ) 9>/tmp/fpmlock"
