# Git
alias gs="git status"
alias gl="git log"
alias gcs="git commit -s -S"
alias nah="git reset --hard;git clean -df"
alias wip="git add . && git commit -s -S -m 'Work In Progress' -m 'This is a trash commit to save changes'"
alias stash="git stash save --include-untracked"
alias pop="git stash pop"

# ZSH
alias zshconf="vim ~/.zshrc"

# Laravel
alias art="php artisan"
alias tinker="php artisan tinker"

# Docker
# Delete all containers
alias clco='docker rm -f $(docker ps -a --format {{.ID}})'
# Enter the Linux VM of Docker on Mac
alias dvm="docker run -it --rm --privileged --pid=host justincormack/nsenter1"

# OS Specific
alias copy="pbcopy <"
alias clean="find . -name ".DS_Store" -delete"
alias flush-dns="dscacheutil -flushcache"
alias dns="sudo networksetup -setdnsservers Wi-Fi 8.26.56.26 8.8.8.8"
alias index="sudo mdutil -E -i"
alias dump-brew="rm Brewfile && brew bundle dump --describe"
alias python="python3"
