# Git

alias gs="git status"
alias gl="git log"
alias gcs="git commit -s -S"
alias nah="git reset --hard;git clean -df"
alias wip="git add . && git commit -s -S -m 'Work In Progress' -m 'This is a trash commit to save changes'"

# ZSH

alias zshconf="vim ~/.zshrc"

# PHP & Laravel

alias c="composer"
alias art="php artisan"
alias tinker="php artisan tinker"
alias db="php artisan migrate:fresh --seed"
alias php8="brew unlink php@7.4 && brew link --overwrite --force php@8.0"
alias php7="brew unlink php@8.0 && brew link --overwrite --force php@7.4"
alias fix="vendor/bin/php-cs-fixer fix --allow-risky=yes"
alias sail='[ -f sail ] && sh sail || sh vendor/bin/sail'

# OS Specific

alias copy="pbcopy <"
alias clean="find . -name ".DS_Store" -delete"
alias flush-dns="dscacheutil -flushcache"
alias dns="sudo networksetup -setdnsservers Wi-Fi 8.26.56.26 8.8.8.8"
alias index="sudo mdutil -E -i"
alias dump-brew="rm Brewfile && brew bundle dump --describe"

# Docker

# Delete all containers
alias clco='docker rm -f $(docker ps -a --format {{.ID}})'
alias dvm="docker run -it --rm --privileged --pid=host justincormack/nsenter1"
