[push]
	default = simple
	autoSetupRemote = true
[user]
	name = Salim Djerbouh
	email = 13698160+CaddyDz@users.noreply.github.com
	signingkey = 6A3119EC83996E86
[core]
	editor = vim
	autocrlf = false
	hooksPath = hooks
	excludesfile = /Users/caddydz/.gitignore_global
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = false
[init]
	defaultBranch = master
[commit]
	gpgsign = true
