[client]
host     = localhost
user     = caddy
password = cicada
socket=/Users/caddy/Library/Containers/com.sequel-ace.sequel-ace/Data/mysql.sock

[mysqld]
socket=/Users/caddy/Library/Containers/com.sequel-ace.sequel-ace/Data/mysql.sock