{
	"trailingComma": "es5",
	"tabWidth": 2,
	"semi": true,
	"singleQuote": true,
	"useTabs": true,
	"plugins": [
		"prettier-plugin-organize-attributes",
		"prettier-plugin-tailwindcss"
	],
	"attributeGroups": ["^class$", "^(id|name)$", "$DEFAULT", "^aria-"]
}
