# Git
alias gs="git status"
alias gl="git log"
alias gcom="git checkout master"
alias gc="git commit -m"
alias gcs="git commit -s -S"
alias nah="git checkout -- . && git reset --hard HEAD && git clean -df"
alias wip="git add . && git commit -s -S -m 'Work In Progress' -m 'This is a trash commit to save changes'"
alias zshconf="vim ~/.zshrc"
alias omz="cd ~/.oh-my-zsh"
alias com="git commit -s -a -m 'Empty' --allow-empty"
alias repush="git pull --rebase && git push"
# OS
alias install="brew install"
alias copy="pbcopy <"
alias clean="find . -name ".DS_Store" -delete"
alias fast="curl -s https://raw.githubusercontent.com/sivel/speedtest-cli/master/speedtest.py | python -"
alias speed="for i in $(seq 1 10); do /usr/bin/time $SHELL -i -c exit; done"
# Deployment
alias ssh-dermato="ssh -p [SSH PORT] [USER]@[IP]"
# PHP & Laravel
alias test="vendor/bin/phpunit"
alias art="php artisan"
alias tinker="php artisan tinker"
alias db="php artisan migrate:refresh --seed"
# Python
alias python="python3"
# MSF
alias msfconsole="/usr/local/share/metasploit-framework && ./msfconsole && cd -"
alias msfbinscan="/usr/local/share/metasploit-framework && ./msfbinscan && cd -"
alias msfd="/usr/local/share/metasploit-framework && ./msfd && cd -"
alias msfelfscan="/usr/local/share/metasploit-framework && ./msfelfscan && cd -"
alias msfmachscan="/usr/local/share/metasploit-framework && ./msfmachscan && cd -"
alias msfpescan="/usr/local/share/metasploit-framework && ./msfpescan && cd -"
alias msfrop="/usr/local/share/metasploit-framework && ./msfrop && cd -"
alias msfrpc="/usr/local/share/metasploit-framework && ./msfrpc && cd -"
alias msfrpcd="/usr/local/share/metasploit-framework && ./msfrpcd && cd -"
alias msfupdate="/usr/local/share/metasploit-framework && ./msfupdate && cd -"
alias msfvenom="/usr/local/share/metasploit-framework && ./msfvenom && cd -"
