"*":
  "atom-beautify":
    general:
      beautifyEntireFileOnSave: false
  "atom-material-ui":
    treeView:
      blendTabs: true
      compactList: true
  autosave:
    enabled: true
  core:
    autoHideMenuBar: true
    automaticallyUpdate: false
    disabledPackages: [
      "wrap-guide"
    ]
    telemetryConsent: "no"
    restorePreviousWindowsOnStart: "no"
    titleBar: "custom"
    useProxySettingsWhenCallingApm: false
  editor:
    fontSize: 17
    scrollPastEnd: true
    softWrap: true
    tabType: "soft"
    zoomFontWhenCtrlScrolling: true
  "exception-reporting":
    userId: ""
  "linter-jshint":
    lintInlineJavaScript: true
  "linter-ui-default": {}
  "selector-to-tag":
    activeForFileTypes: [
      "htm"
      "html"
      "kit"
      "shtml"
      "tmpl"
      "tpl"
      "xhtml"
      "php"
      "vue"
    ]
    solveTagsOnly: false
  wakatime:
    apikey: "Saved in your ~/.wakatime.cfg file"
  welcome:
    showOnStartup: false
".blade.html.php.text":
  editor:
    commentEnd: " --}}"
    commentStart: "{{-- "
