'.source.php':
  'comment':
    'prefix' : 'comment'
    'body': '/**\n * $1\n * @param $2\n * @var $3\n * @return $4\n */$5'
'.blade.php':
  'bstext':
    'prefix' : 'bstext'
    'body': '<div class="form-group">\n\t<label for="${1:crash}">$2:</label>\n\t<input type="text" class="form-control" name="$1" id="$1">\n</div>\n$3'
  'Vue JS Router':
    'prefix' : 'router'
    'body': '<router-link to="${1:url}" exact>${2:title}</router-link>\n\t$3'
  'Localization retrieval':
    'prefix' : 'translate'
    'body': '{{ __(\'${1}\') }}'
'.source.js':
  'VueJS component':
    'prefix' : 'component'
    'body': 'Vue.component (\'${1:name}\', {\n\tprops: [\n\t\t\'${2:property}\',\n\t],\n\ttemplate: `\n\t\t${3:html}\n\t`,\n\tmethods: {\n\t\t${4:method_name}() {\n\t\t\t${5:// code}\n\t\t}\n\t}\n});\n$6'
  'new vue':
    'prefix' : 'new vue'
    'body': 'new Vue({\n\tel: \'${1:#app}\',\n\tdata: {\n\t\t${2:name} : \'${3:value}\',\n\t}\n});\n$7'
