body {
    background: #3b4c5e;
    color: #e1ffff;
}


.navbar {
    background: #29333a;
}

.navbar .navbar-header a.navbar-brand {
    color: #e1ffff;
}

a {
    color: #88b5dd;
}

a:hover {
    color: #609dd2;
}

#date-picker {
    color: #88b5dd;
    border-bottom-color: #88b5dd;
}

#date-picker:hover {
    color: #609dd2;
    border-bottom-color: #609dd2;
}

.white-well {
    background: #2d353c;
    border-color: #222;
}

#footer .container, #footer .container-fluid {
    border-top-color: #222;
}

.form-control {
    color: #e1ffff;
    background: #2d353c;
    border-color: #222;
}

.btn-default{
    color: #e1ffff;
    background-color: #2d353c;
    border-color: #222;
}

.btn-default:hover, .btn-default:focus {
    color: #e1ffff;
    background-color: #586774;
    border-color: #333;
}

.btn-default:active{
    color: #CCC !important;
    background-color: #374049 !important;
    border-color: #333 !important;
}

.modal-content {
    background: #29333a;
}

.modal-header {
    border-bottom-color: #222;
}

.modal-header .close {
    color: #e1ffff;
}

.modal-footer {
    border-top-color: #222;
}

.navbar .navbar-nav li a.navbar-btn{
    color:#e1ffff;
    border-color:#e1ffff !important;
}

.navbar .navbar-nav li a.navbar-btn:hover,
.navbar .navbar-nav li a.navbar-btn:focus{
    background:#586774;
}

.navbar .navbar-nav li a.navbar-btn:active{
    background-color: #374049 !important;
}

#logged-in{
    color:#e1ffff;
}

#fat-menu.open #logged-in{
    background: #29333a;
}

.dropdown-menu {
    background: #29333a;
}

.dropdown-menu li a {
    color: #e1ffff;
}

.dropdown-menu li a:hover {
    color: #e1ffff;
    background:#586774;
}

.dropdown-menu li.divider {
    background: #222;
}

.daterangepicker:before,
.daterangepicker:after{
    border-bottom-color:#29333a;
}

.ranges li{
    background:#2d353c;
    border-color:#222;
}
